<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
    <h1 class="cad">Cadastro</h1>
  </div>

  <div class="form-container">
    <img src="{{ url_for('static', filename='logo.jpg') }}" class="Logo" alt="Logo">

    <form action="{{ url_for('Cad') }}" method="post">
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" required>

      <button type="submit">Cadastrar</button>
    </form>

    <a class="voltar" href="{{ url_for('index') }}"><i class="bi bi-arrow-left"></i></a>
    <div class="login-link">
      <p>Caso já possua uma conta, <a href="{{ url_for('login') }}">clique aqui!</a></p>
    </div>
  </div>

  <img src="{{ url_for('static', filename='images.png') }}" class="logo" alt="Logo">
</body>
</html>
